{% include "base.html" %}

{% block content %}
<div class="container mt-5">
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <input type="hidden" name="user" value="{{ request.user.id}}">
            <legend>Solicitud de proyecto</legend>
            <div class="form-group row">
                {{form.titulo.label_tag}}
                <div class="col-sm-10">
                    {{form.titulo}}
                </div>
            
                {{form.departamento.label_tag}}
                <div class="col-sm-10">
                    {{form.departamento}}
                </div>
            
                {{form.fechaLimite.label_tag}}
                <div class="col-sm-10">
                    {{form.fechaLimite}}
                </div>

                {{form.detalle.label_tag}}
                <div class="col-sm-10">
                    {{form.detalle}}
                </div>
                

                {{form.etapa.label_tag}}
                <div class="col-sm-10">
                    {{form.etapa}}
                </div>
                
            </div>

            <button type="submit" class="btn btn-primary mt-3 mb-4">Aceptar</button>
        </fieldset>
    </form>
</div>
{% endblock content %}